body {
    margin: 0;
    padding: 0;
      font-family: Arial, Helvetica, sans-serif

}

.container{
display:grid;
grid-template-columns: 250px 1fr;
min-height: 100vh;
}

.sidebar {
    background-color: rgb(59, 149, 209);
}

.sidebar li
{
    display: grid;               
    grid-template-columns: 24px 1fr; 
    align-items: center;         
    gap: 10px;               
    padding: 8px 0;
   
}

.sidebar li a {
    text-decoration: none;
    color: #fff;
    display: contents; /* optional, lets the li grid control layout */
}

.material-icons {
    font-size: 20px;
}
.sidebar .logo {
    display: grid;                /* grid container */
    grid-template-columns: 24px 1fr; /* icon + text */
    align-items: center;          /* vertical alignment */
    gap: 10px;                    /* space between icon and text */
    font-size: 1.2rem;
    font-weight: bold;
    padding: 16px;
    color: #fff;                  /* adjust to sidebar color */
}

.main {
    display:grid;
    grid-template-rows:150px  1fr;
}

.header {
    display: grid;
    grid-template-rows: auto auto;
    padding: 16px 24px;
    background-color: white;
 
}

/* top row */
.header-top {
    display: grid;
    grid-template-columns: 3fr auto;
    
    align-items: center;
  
    

}

.search {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 16px;
}
.search input {
    width: 100%;
    max-width: 400px;
    padding: 8px 16px;
    border: none;
    border-radius: 20px;
    background-color: #e5e7eb;
    font-size: 0.9rem;
}

.user-info{
    display: grid;
    grid-auto-flow: column;
    align-items: center;
  gap: 30px;
   margin-right: 20px;
   
}
.user-info .material-icons {
    font-size: 24px;
    color: #555;

}
.user-info p {
    margin: 0;
}
/* bottom row */
.header-bottom {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    margin-top: 16px;
}

/* welcome section */
.welcome {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 12px;
    align-items: center;
}

.username , .hi , .name{
    font-weight: bold;
    color: black;
}

.hi{
    font-size: 14px;
    margin-bottom: 3px;
}
.username {
    font-size: 18px;
}
.name {
   
    margin: 0px;
    font-size: 20px;

    
}
.user-info img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
   
    display: block;
}
.avatar {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    display: block;
}
 .welcome img {
    width: 55px;
    height: 55px;
    border-radius: 50%;
}

/* buttons */
.actions {
    display: grid;
 
    grid-auto-flow: column;
    gap: 25px;
    margin-right: 20px;
    margin-top: 5px;
  
}

.actions button {
    background-color: rgb(59, 149, 209);
    color: white;
    border: none;
    border-radius: 20px;
    padding: 8px 24px;
    font-weight: 600;
    cursor: pointer;
}
 
.main-content {
    background-color: rgb(216, 222, 225);
    display: grid;
    grid-template-columns: 2fr 250px;

    border-top-style: outset;
    border-color: #d1d2d4;
    border-top-width: 3px;
    

  
    gap: 20px;
    padding: 20px;
    
  
}


.projects {
    display: grid; 
    grid-template-columns: repeat(2 , 1fr);
    gap: 20px;
}
.main-title {
    font-weight: 550;
    padding-bottom: 20px ;
    color: #191818;
}



.card {
    background-color: #fff;
    color: #555;
    display: grid;
    grid-template-rows: 0.5fr 2fr 1fr;
    
    

   border-radius: 8px;
   border-left-style: outset;
   border-left-width: 7px;
   border-color: rgb(239, 161, 37);
   box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.p , p {
   
   padding-left: 15px;
   font-size: 12px;
   

}

.actions {
  

   justify-content: right;
  
   
}


.title { 
    font-weight: bold;
    color: black;
    font-size: 14px;
    
}

.announcment {
    background-color: #fff;
    color: #555;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    display: grid;
}
.announcments p {
    font-size: 11px;
}
.announcments {

}